#loader{
    position: absolute;
    right:10px;
    top: 20px;
    padding: 5px 10px;
}

#calc-form input,
#calc-form select
{
    margin: 10px 0;
}

#calculation_form_save{
    margin-top: 20px;
}

#schedule #calculation_result{
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
}

.annuitet_payment{
    margin-top: 20px;
    font-style: italic;
}


