{{ form_start(form, {'attr':
    {
        'novalidate': 'novalidate',
        'class': 'js-credit-calc',
        'id': 'calc-form'
    }}) }}
            {{ form_errors(form) }}

<div class="row">
    <div class="col-md-3 control-label">Сумма кредита </div>
    <div class="col-md-9">
        {{ form_widget(form.creditAmount) }}
        {{ form_errors(form.creditAmount) }}
    </div>
</div>

<div class="row">

    <div class="col-md-3">Срок кредита (месяцев) </div>
    <div class="col-md-9">
        {{ form_widget(form.period) }}
        {{ form_errors(form.period) }}
    </div>
</div>
<div class="row">
    <div class="col-md-3">Ставка % </div>
    <div class="col-md-9">
        {{ form_widget(form.percent) }}
        {{ form_errors(form.percent) }}
    </div>
</div>

<div class="row">
    <div class="col-md-3 control-label">Начало выплат
        {{ form_errors(form.creditStartYear) }}</div>
    <div class="col-md-5">
        {{ form_widget(form.creditStartMonth) }}
        {{ form_errors(form.creditStartMonth) }}
    </div>
    <div class="col-md-4">
        {{ form_widget(form.creditStartYear) }}
        {{ form_errors(form.creditStartYear) }}
    </div>
</div>

<div class="row">
    <div class="col-md-12 pt-20">
        {{ form_widget(form.save) }}
    </div>
</div>
<div class="row">
{{ form_end(form) }}