{% extends 'base.html.twig' %}

{% block page_title %}Таблица расчета{% endblock %}

{% block body %}
    <div class="wrapper">
        <div class="container" id="calc-form-wrapper">
            {% include 'main/calc_form.html.twig' %}
        </div>
    </div>
    <div class="container" id="results"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/main.js') }}"></script>
{% endblock %}