<div id="schedule">
    <div class="annuitet_payment">Ежемесячный платеж: {{ result.payment }}</div>

    <table id="calculation_result" class="table table-striped">


        <thead class="thead-inverse">

        <th>Номер</th>
        <th>Дата платежа</th>
        <th>Остаток задолженности</th>
        <th>Платеж<br> по процентам</th>
        <th>Платеж<br> по кредиту</th>
        <th>Ежемесячный платеж</th>
        </thead>

        <tbody>
        {% for step in result.schedule %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ step.month }}</td>
                <td>{{ step.dept }}</td>
                <td>{{ step.percent_pay }}</td>
                <td>{{ step.credit_pay }}</td>
                <td>{{ step.payment }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>